
.topBar{
    background: rgba(255,255,255,0.8);
    font-size: 30pt;
    box-shadow: 0px 5px 5px 5px rgba(255,255,255,0.8);
}

body{
    background-image:url("/static/img/246255.jpg");
    background-size:100%;
}

