.loginCont{
    border-radius: 15px;
    background: #FFFFFF;
    box-shadow: 10px 10px 3px black;
    margin: 0 auto;
    padding: 20px;
    width: 25%;
}

.loginBody{
    background-image:url("/static/img/246225.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    padding-top: 5%;
}

.loginForm{
    margin: auto;
}
